.chat-container{
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 450px;
    padding: 5px 0 5px 0;
}

.chat-header {
    
    background-color: rgba(255, 255, 255, 0.25);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
    position: relative;
}

.messages-container{
    display: flex;
    flex-direction: column;
    height: 400px;
    overflow-y: auto; 
    width: 100%;
}

.welcome-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 25px;
}

.input-container {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 90%;
    max-height: 100px;
    margin: 5px 0;
    padding: 10px 15px;
    background-color: var(--white-color);
    border: 1px solid var(--gray-color);
}

.input-box, .tools-container{
    display: flex;
    flex-direction: row;
}

.input-box {
    padding: 0;
    max-height: 80%;

    textarea{
        font-family: var(--font-family);
        font-size: 16px;
        line-height: 24px;
 
        letter-spacing: inherit;
        
        width: 100%;
        height: 40px;
        resize: none;
        border: 0;
        background: transparent;
        padding: 8px 12px 8px 12px;
       
        border-radius: 15px;
        
        /* white-space: normal;
        overflow: visible;
        word-wrap: break-word; */
    }

    textarea:focus{
        outline: none;
    }

    button{
        padding: 0;
        margin-top: 8px;
        margin-left: 10px;
        justify-content: center;
        justify-items: center;
        background: transparent;
        border: none;
        height: fit-content;
    }

    .dis-button{
        svg{
            stroke: var(--gray-color);
        }
    }

    .en-button{
        cursor: pointer;
        svg{   
            transition: all 0.2s ease-in-out; 
            stroke: var(--primary-color);
        }
    }

    .en-button:hover{
        
        svg{    
            transition: all 0.2s ease-in-out;
             stroke: color-mix(in srgb, var(--primary-color), var(--black-color) 20%);
            width: 22x;
            height: 22px;
        }
    }
}

.tools-container{
    margin-top: 15px;
    justify-content: space-between;
    font-size: 14px;
}

.close-button{
    background-color: transparent;
    border-radius: 100%;
    object-fit: cover; 
    color: var(--primary-color);
    font-size: 16px;
    padding: 10px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: ease-in-out 0.4s;
    overflow: hidden;
  }

  .close-button::before{
    content : "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: var(--primary-color);
    transform: scale(0);
    transition: all 0.5s;
  }

  .close-button:hover::before{
    transform: scale(1);
  }

  .close-button:hover{
    color: var(--white-color);
  }

.menu-container{
    top: 10px;
    width: 50px;
    height: 100px;
    position: absolute;
    background-color: var(--secondary-color);
}