.message-container {
    width: 100%;
    padding: 10px;
    transition: opacity 2s linear;
}

.message-box{
    display: flex;
    div{
        border-radius: 8px;
        padding: 15px;
        max-width: 220px;
        min-height: 49.200px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        
    }
}

.user-style{
    /* white-space: normal; */
    /* overflow: visible;*/
    white-space: pre-wrap;
    word-wrap: break-word; 
    
    justify-content: flex-end;
    div{
        background-color: var(--secondary-color);
        color: var(--black-color);
    }
}

.ia-style{
    justify-content: flex-start;
    div{
        background-color: var(--primary-color);
        color: var(--white-color);
    }
}